@charset "UTF-8";
/*즐겨찾기 요소,이미지 크기 조절은 fp-item을 해당 스크린 css에서 조절*/
.fp-item {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    position: relative;
    background-color: var(--ccm-color2);
}
.fp-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fp-item__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.fp-item__info {
    font-size: 15px;
    font-style: var(--ccm-font);
    font-weight: 600;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: white;
}

.fp-item__delete-btn {
    position: absolute;
    padding-top: 2px;
    top: 1px;
    right: 1px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    border: 2px solid var(--ccm-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.fp-item__delete-btn i{
    font-size: 11px;
    font-weight: bolder;
}
.fp-item__delete-btn:hover{
    background-color: tomato;
    animation: shake 0.3s linear infinite;
}
.fp-item__delete-btn:hover i{
    color: white;
}

@keyframes shake{
    0% {
        transform: translateX(-0.5px);
    }
    33% {
        transform: translateX(0.5px);
    }
    66% {
        transform: translateX(-0.5px);
    }
    100% {
        transform: translateX(0.5px);
    }
}