@charset "UTF-8";
body {
  /* 화면 중앙에 컨텐츠를 배치하기 위해 flexbox 사용 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 화면 전체 높이를 사용 */
  height: 100vh;
  /* 기본 마진 제거 */
  margin: 0;
  /* 배경색 설정 */
  background-color: #f5f5f5;
}

.container {
  /* 컨텐츠 영역의 최대 너비 설정 */
  width: 100%;
  max-width: 800px;
  /* 배경색, 패딩, 둥근 모서리, 그림자 효과 적용 */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.join-form {
  display: grid;
  grid-template-areas:
    "header header header"
    "id id id"
    "pw pw pw"
    "name name name"
    "birth birth birth"
    "mail mail mail"
    "nick nick nick"
    "tel tel tel"
    "gender gender gender"
    "sns sns sns"
    "btn btn btn";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  
}

.header { grid-area: header; }
.id { grid-area: id; }
.pw { grid-area: pw; }
.name { grid-area: name; }
.birth { grid-area: birth; }
.mail { grid-area: mail; }
.nick { grid-area: nick; }
.tel { grid-area: tel; }
.gender { grid-area: gender; }
.sns { grid-area: sns; }
.btn { 
	grid-area: btn; 
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


input[type="button"], input[type="submit"] {
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #0C4A60;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10%;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #EF6C33;
}
h1 {
    color: #EF6C33;/*03c75a;  글자색 설정 */
    margin-bottom: 20px; /* 하단 여백 설정 */
    text-align: center; /* 가운데 정렬 */
}
input[type="text"],input[type="password"] {
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"],input[type="password"]:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="text"],input[type="password"]::placeholder {
  color: #999;
  font-style: italic;
}
select {
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

option {
  font-weight: normal;
  font-style: normal;
}