@charset "UTF-8";
/* 컨테이너 스타일 */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 92%;
    margin-top: 20px;
    text-align: center;
}

/* 기존 버튼 스타일 */
input[type="button"], input[type="submit"] {
    padding: 8px 15px; /* 패딩 조정 */
    margin-top: 10px; /* 상단 마진 추가 */
    background-color: #0C4A60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%; /* 버튼 너비 조정 */
}
/* 비밀번호 입력 필드 스타일 */
input[type="password"] {
    padding: 8px;
    margin: 5px 0; /* 상하 마진 조정 */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%; /* 너비 조정 */
    display: inline-block;
    box-sizing: border-box; /* 박스 크기 조정 */    
}
input[type="password"], input[type="text"] {
    width: 100%; /* 너비 조정 */
    margin: 5px auto; /* 상하 마진 조정 및 자동 가운데 정렬 */
    display: block; /* 블록 레벨 요소로 설정하여 가운데 정렬 가능하게 함 */
}
input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #EF6C33;
    }
/* 제목 스타일 */
h1 {
    color: #EF6C33; /* 글자색 설정 */
    margin-bottom: 20px; /* 하단 여백 설정 */
    text-align: center; /* 가운데 정렬 */
}