/*Components*/
@import "/resources/css/components/favorites.css";

@import "/resources/css/components/calculator.css";

/*Common*/
@import "/resources/css/common.css";

/*Screens*/
.main_container {
	display: grid;
	position: relative;
	top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(3 1fr);
	grid-auto-rows: auto;
	grid-column-gap: 3%; 
    grid-row-gap: 3%;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80%;
}


.main_col_1_row1 {
	grid-column: 1;
	grid-row: 1;
}

.main_col_2_row1 {
	grid-column: 2;
	grid-row: 1;
}

.main_col_1_row2 {
	grid-column: 1;
	grid-row: 2;
}

.main_col_2_row2 {
	grid-column: 2;
	grid-row: 2;
}

/*메인 상단 좌측 박스*/
.fav_info_box{
	display: grid;
	position: relative;
	grid-template-columns: repeat(1 1fr);
	width: 100%;
	height: 20vh;
	justify-content: center;
	align-items: center;
	background: rgb(245, 245, 245);	
	border-radius: 10px;
}


/*calculator-favorites*/

/*즐겨찾기 영역*/
.fav-area {
	display: flex;
	position: relative;
	width: 43.3vw;
	height: 80%;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	border-radius: 10px;
	background: rgb(255, 255, 255);	
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
}

.fav-area::-webkit-scrollbar {
	height: 0px;
}

.fp-item {
	width: 80px;
	height: 100px;
	margin: 0 5%;
	border-radius: 15px;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
	height:80%;
}

.fp-item__img {
	width: 70px;
	height: 70px;
	border-radius: 10px;
}

.fp-item__info{
	color: black;
 }

.fav-title {
	border: 0;
	position: absolute;
	top: -5px;
}

.fav-title__title {
	font-size: 22px;
	font-style: var(- -ccm-font);
}

.fav-btn__go-coffeelist {
	border: 0;
	position: absolute;
	border-radius: 5px;
	left: 15px;
	top: 10px;
}

.fav-btn__togle-fav-del {
	border: 0;
	border-radius: 5px;
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 1;
}


/*메인 상단 우측 박스*/
.main_profile{
	display: grid;
	position: relative;
	grid-template-columns: repeat(1 1fr);
	width: 100%;
	height: 20vh;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: rgb(245, 245, 245);	
}

/*프로필 이미지 박스*/
.main_profile__img_box{
	grid-column: 1;
	grid-row: 1;
	width: 90%;
	height: 70%;
}
.main_profile__img{
	width: 7vw;
	height: 12vh;
	border-radius: 10px;
	background: rgb(0, 0, 0);	
}

/*프로필 정보 및 버튼 박스*/
.main_profile__nickname-box{
	grid-column: 1;
	grid-row: 2;
	margin-top: 3%;
	display: flex;
    justify-content: space-between;
}
/*프로필 닉네임*/
.main_profile__nickname{
	font-family: 'yg-jalnan', sans-serif;
	font-size: .7em;
	white-space: nowrap;
}
/*프로필 수정 버튼*/
.main_profile__btn{
	font-family: 'yg-jalnan', sans-serif;
	font-size: .7em;
	color: white;
	width: 30%;
	height: 5%;
	border: 0;	
	border-radius: 3px;
	background: rgb(12, 74, 96);
	margin-left:5px;
}

.main_profile_login_box{
	margin-bottom: 5%;
}

/*미로그인 시 안내 텍스트*/
.main_profile_login_text{
	white-space: nowrap;
	font-family: 'yg-jalnan', sans-serif;
	font-size: .8em;
}

/*미로그인 시 로그인 버튼*/
.main_profile_login-page-btn{
	font-family: 'yg-jalnan', sans-serif;
	font-size: .8em;
	color: white;
	width: 100%;
	height: 30%;
	border: 0;	
	border-radius: 3px;
	background: rgb(12, 74, 96);
}



/*카페인 정보 박스*/
.caffeine_info_box{
	display: grid;
	position: relative;
	grid-template-columns: repeat(2 1fr);
	grid-gap: 6%;
	width: 50vw;
	height: 100%;
	justify-content: center;
	align-items: center;
	background: rgb(240, 240, 240);	
	border-radius: 10px;
}

.caffeine_info_col1 {
	grid-column: 1;
    justify-content: center;
    align-items: center;
}

.caffeine_info_col2 {
	grid-column: 2;
    justify-content: center;
    align-items: center;
}

/*카페인 정보*/
.caffeine_info_image {
    max-width: 20vw; 
    max-height: 40vh;
	margin: 17% 10% 5% 0%;
}


/*계산기 영역*/
.calc-area {
	display: flex;
	width: 20vw; 
	height: calc(10vw * 1.75);
	margin: 3% 10% 5% 0%;
	border-radius: 10px;
	background: rgb(12, 74, 96);
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);	
}

.calc-box {
	border-radius: 10px;
}


/*레시피 추천 영역*/
/*게시물 카드 전체*/
.boardCard {
	height: 100%;
	border-radius: 10px;
	background: rgb(245, 245, 245);
}
/*하이퍼링크 지워줌*/
.boardCard a {
	color: inherit;
	text-decoration: none;
}
/*이미지 설정*/
.img_basic {
	width: auto;
	height: 34vh;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
	aspect-ratio: 3/3.3;
	
}
#board .img {
	max-height: 100%;
	object-fit: cover;
}
/*게시물 카드 텍스트*/
.cardTextBox {
	object-fit: cover;
	font-size: 0.9em;
	width: auto;
	padding: 0  15px 5px 15px;
	aspect-ratio: auto 10/1;
}

/*게시물 슬라이드*/
.slideshow-container {
	position: relative;
	overflow: hidden;
	margin: 0;
}
.mySlides1 {
	display: none;
}
.mySlides2 {
	display: none;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from { opacity:.4}
	to {opacity: 1}

}


.text-reaction {
    font-size: 16px; 
    transition: font-size 0.3s ease;
}

/*꾸밈 요소*/
/*여기어때 잘난체*/
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.caffeine_title{
	font-family: 'yg-jalnan', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 5% 10% 0% 0%;
}